@page "/fetchdevices"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Raspi.Temperature.App.Shared
@attribute [Authorize]
@inject HttpClient Http

<h1>Temperature Devices</h1>

<p>All active temperature devices to select a dashboard</p>

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in devices)
            {
                <tr>
                    <td>@device.Id</td>
                    <td>@device.Name</td>
                    <td>@device.Latitude</td>
                    <td>@device.Longitude</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Device[] devices;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            devices = await Http.GetFromJsonAsync<Device[]>("dashboard/devices");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch(Exception ex)
        {
            throw;
        }
    }

}
