# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
python-setuptools
python3-setuptools
pigpio
python-pigpio
python3-pigpio